{% assign hardware = product.metafields.custom.hardware %}
<div class="row">
<div class="column">
<table>
<tr>
<th>
Feature
</th>

</tr>
<tbody>
<tr>
<td><b>Antenna</b><br>{{ hardware.value.Accelerometer
 }}</td>
</tr>
<tr>
<td><b>Battery</b><br>{{ hardware.value.Battery
 }}</td>
</tr>
<tr>
<td><b>Display resolution</b><br>{{ hardware.value.DisplayResolution
 }}</td>
</tr>
<tr>
    <td><b>Ethernet ports</b><br>{{ hardware.value.Ethernet
     }}</td>
    </tr>
    <tr>
        <td><b>SIM type</b><br>{{ hardware.value.SimType
         }}</td>
        </tr>
        <tr>
            <td><b>USB ports</b><br>{{ hardware.value.Usb
             }}</td>
            </tr>
            <tr>
                <td><b>Voltage supply</b><br>{{ hardware.value.VoltageSupply
                 }}</td>
                </tr>
</tbody>
</table>
 </div>
<div class="column">
<table>
<tr><th>Other Features</th></tr>
<tr>
<td><b>Accelerometer</b></td>
<td>{{hardware.value.Accelerometer}}</td>
</tr>
<tr>
<td><b>Z-Wave</b></td>
<td>{{hardware.value.Zwave}}</td>
</tr>
<tr>
<td><b>Audio</b></td>
<td>{{hardware.value.Audio}}</td>
</tr>
<tr>
<td><b>Battery Safety</b></td>
<td>{{hardware.value.BatterySafety}}</td>
</tr>
<tr>
<td><b>Bluetooth</b></td>
<td>{{hardware.value.Bluetooth}}</td>
</tr>
<tr>
<td><b>Camera</b></td>
<td>{{hardware.value.Camera}}</td>
</tr>
<tr>
<td><b>Dual SIM</b></td>
<td>{{hardware.value.Dual}}</td>
</tr>
<tr>
<td><b>E911</b></td>
<td>{{hardware.value.E911}}</td>
</tr>
<tr>
<td><b>eUICC</b></td>
<td>{{hardware.value.eUiccType}}</td>
</tr>
<tr>
<td><b>Expansion Card Slots</b></td>
<td>{{hardware.value.ExpansionCardSlots}}</td>
</tr>
<tr>
    <td><b>GNSS</b></td>
    <td>{{hardware.value.GNSS}}</td>
    </tr>
    <tr>
        <td><b>GPS</b></td>
        <td>{{hardware.value.Gps}}</td>
        </tr>
</table>
</div>
<div class="column">

    <table>
        <tr>
            <td><b>Keyboard</b></td>
            <td>{{hardware.value.Keyboard}}</td>
            </tr>
            <tr>
                <td><b>Magnetic Card Reader</b></td>
                <td>{{hardware.value.MagneticCardReader}}</td>
                </tr>
                <tr>
                    <td><b>Printer</b></td>
                    <td>{{hardware.value.Printer}}</td>
                    </tr>
                    <tr>
                        <td><b>RJ-11</b></td>
                        <td>{{hardware.value.RJ11}}</td>
                        </tr>
                        <tr>
                            <td><b>Scanning Technology</b></td>
                            <td>{{hardware.value.ScanningTechnology}}</td>
                            </tr>
                            <tr>
                                <td><b>Serial</b></td>
                                <td>{{hardware.value.Serial}}</td>
                                </tr>
                                <tr>
                                    <td><b>Smart Card Reader</b></td>
                                    <td>{{hardware.value.SmartCardReader}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Voice Transmission Capable</b></td>
                                        <td>{{hardware.value.VoiceTransmissionCapable}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Wifi</b></td>
                                            <td>{{hardware.value.Wifi}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Zigbee</b></td>
                                                <td>{{hardware.value.Zigbee}}</td>
                                                </tr>
    </table>
    </div>


</div>